#index-banner {
	background-image: url(../images/bk.jpg);
	background-repeat: no-repeat;
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.logo {
	height: 50px;
	margin-top: 6px;
}
